@font-face {
  font-family: 'KarlaRegular';
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/fonts/Karla-Regular.ttf);
}

@font-face {
  font-family: 'KarlaBold';
  font-style: normal;
  font-weight: bold;
  src: url(../../assets/fonts/Karla-Bold.ttf);
}

@font-face {
  font-family: 'DMSerifDisplay';
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/fonts/DMSerifDisplay-Regular.ttf);
}

$Karla-bold: KarlaBold, Arial, Helvetica;
$Karla-regular: KarlaRegular, Arial, Helvetica;
$DMSerif-Display: DMSerifDisplay, Arial, Helvetica;
