@mixin flexbox($justifyContent: center, $alignItems: center) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@mixin button($borderSize: 1px, $paddingSize: 8px 28px) {
  padding: $paddingSize;
  border: none;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  color: $Very-Light-Gray;
  border: $borderSize solid $Very-Light-Gray;
  font-family: KarlaRegular;
}

@mixin backgroundProps($backgroundPosition: center, $backgroundSize: cover) {
  background-position: $backgroundPosition;
  background-size: $backgroundSize;
  background-repeat: no-repeat;
}
