.different {
  text-align: center;
  position: relative;
  color: $Very-Dark-Violet;

  @include mediaQuerie(540px) {
    margin-top: -320px;
  }

  @include mediaQuerie(1200px) {
    margin-top: 200px;
  }

  h2 {
    margin-bottom: 40px;
    font-family: DMSerifDisplay;
    font-weight: 400;
    font-size: 3.8rem;

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 120px;
      height: 1px;
      background-color: #837d87;
      top: -25px;
      margin: auto;
      left: 0;
      right: 0;
    }
  }

  &__layout {
    display: grid;

    .wrapper {
      padding: 0px 16px;
    }
  }

  &__card {
    text-align: center;
    margin-bottom: 50px;

    .figure {
      &__image {
        width: 70px;
        margin: 0 auto;
      }
    }

    h3 {
      margin-bottom: 15px;
      font-family: DMSerifDisplay;
      font-size: 2.2rem;
      font-weight: 400;
    }

    p {
      color: $Dark-Grayish-Violet;
      font-size: 1.4rem;
      letter-spacing: 0.1px;
      line-height: 22px;
    }
  }

  &__card:last-child {
    p {
      padding: 0 10px;
    }
  }
}
