.footer {
  background-color: #fafafa;
  text-align: center;
  font-family: $Karla-regular;
  font-weight: 400;
  margin-top: 140px;
  position: relative;
  overflow: hidden;
  z-index: 10;

  @include mediaQuerie(720px) {
    padding: 20px 0;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 200px;
    background-image: url(../../assets/images/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;

    @include mediaQuerie(720px) {
      background-image: url(../../assets/images/bg-pattern-footer-desktop.svg);
      z-index: 1;
    }
  }

  &__social {
    text-align: center;
    position: relative;
    padding-bottom: 30px;

    @include mediaQuerie(590px) {
      width: 80%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 280px;
      height: 1px;
      background-color: #d4d3e1;
      margin: auto;
      left: 0;
      right: 0;

      @include mediaQuerie(590px) {
        display: none;
      }
    }

    h4 {
      font-size: 3.3rem;
      margin-bottom: 0;
      letter-spacing: -0.8px;
    }
  }

  &__networks {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin-bottom: 35px;
    position: relative;
    z-index: 10;

    li {
      margin-right: 15px;

      a {
        color: $Dark-Grayish-Violet;
        cursor: pointer;
      }
    }
  }

  &__data {
    text-transform: uppercase;
    margin-top: -10px;
    position: relative;
    z-index: 10;

    @include mediaQuerie(590px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    @include mediaQuerie(720px) {
      width: 80%;
      margin: 0 auto;
      justify-content: space-between;
    }

    &::before {
      @include mediaQuerie(590px) {
        content: '';
        display: block;
        position: absolute;
        width: 80%;
        height: 1px;
        background-color: #ccc;
        margin: auto;
        left: 0;
        right: 0;
      }
    }

    h5 {
      color: $Dark-Grayish-Violet;
    }
  }

  &__articles {
    h5 {
      font-size: 1.4rem;

      @include mediaQuerie(720px) {
        text-align: left;
      }
    }

    li {
      padding-bottom: 13px;

      @include mediaQuerie(720px) {
        text-align: left;
      }
    }

    a {
      color: $Dark-Violet;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 1.4rem;
    }
  }

  &__logo {
    margin: 0;
    margin-top: 65px;

    @include mediaQuerie(590px) {
      margin-top: 0;
    }
  }

  &__image {
    margin: 0 auto;
  }
}
