.header {
  height: 50px;
  padding: 30px;
  @include flexbox(space-between);
  box-shadow: 0 0 4px $Dark-Grayish-Violet;

  @include mediaQuerie(820px) {
    width: 90%;
    margin: auto;
    box-shadow: initial;
  }

  @include mediaQuerie(1020px) {
    width: 88.5%;
  }

  &__logo {
    @include mediaQuerie(1020px) {
      margin-left: 30px;
    }
  }

  &__icon {
    padding: 5px;
    cursor: pointer;

    @include mediaQuerie(640px) {
      display: none;
    }
  }

  .main-nav {
    position: absolute;
    width: 100%;
    height: 451px;
    top: 60px;
    left: 0;
    background-color: #2b282f;
    padding: 10px 20px;
    overflow: hidden;
    display: none;
    z-index: 100;

    @include mediaQuerie(640px) {
      display: block;
      position: static;
      padding: 0;
      height: initial;
      background-color: transparent;
      width: 60%;
    }
    @include mediaQuerie(920px) {
      width: 48%;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 200px;
      background-image: url(../../assets/images/bg-pattern-mobile-nav.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin: auto;
      left: 0;
      right: 0;
      bottom: -20px;

      @include mediaQuerie(640px) {
        display: none;
      }
    }
  }

  .main-nav.show {
    display: block;
  }

  .main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    @include mediaQuerie(640px) {
      flex-direction: row;
      margin: 0;
    }

    &__item {
      margin-bottom: 20px;

      @include mediaQuerie(640px) {
        margin: 0 auto;
      }
    }

    &__item:last-child {
      width: 100%;
      text-align: center;
      padding: 10px 20px;
      border: 1px solid $Very-Light-Gray;

      @include mediaQuerie(640px) {
        width: initial;
        padding: 0;
      }

      @include mediaQuerie(720px) {
        padding: 6px 20px;
        border: 1px solid $Dark-Violet;
      }
    }

    &__link {
      text-transform: uppercase;
      font-size: 1.7rem;
      color: #fafafa;
      letter-spacing: 1px;

      @include mediaQuerie(640px) {
        color: $Very-Dark-Violet;
        font-size: 1.3rem;
      }
    }
  }
}
