.security {
  margin-bottom: 100px;

  @include mediaQuerie(540px) {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 0;
  }

  @include mediaQuerie(1200px) {
    width: 100%;
    background-color: $Dark-Violet;
    flex-direction: row-reverse;
  }

  &__image {
    @include mediaQuerie(540px) {
      margin: 0 auto;
      position: relative;
      z-index: 20;
      top: -400px;
    }

    @include mediaQuerie(1200px) {
      top: 70px;
      left: -250px;
    }
  }

  &__card {
    height: 430px;
    background-color: $Dark-Violet;
    color: $Very-Light-Gray;
    text-align: center;
    position: relative;
    z-index: 10;

    @include mediaQuerie(540px) {
      height: 730px;
    }

    @include mediaQuerie(1200px) {
      width: 100%;
      height: initial;
      padding-left: 160px;
      padding-top: 50px;
      text-align: initial;
    }

    h1 {
      font-family: DMSerifDisplay;
      margin: 0;
      padding: 70px 10px 0 10px;
      font-size: 4.2rem;
      font-weight: 400;
      line-height: 40px;

      @include mediaQuerie(1200px) {
        text-align: left;
        font-size: 5rem;
        padding-left: 0;
      }

      span {
        @include mediaQuerie(1200px) {
          display: block;
        }
      }
    }

    p {
      font-size: 1.5rem;
      padding: 10px 16px;
      line-height: 25px;

      @include mediaQuerie(1200px) {
        text-align: left;
        width: 65%;
        padding-top: 30px;
        padding-left: 0;
      }
    }

    .button {
      @include button;

      @include mediaQuerie(1200px) {
        text-align: initial;
      }
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 130px;
      height: 125px;
      background-image: url(../../assets/images/bg-pattern-intro-left-mobile.svg);
      @include backgroundProps;

      @include mediaQuerie(1200px) {
        display: none;
      }
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 200px;
      height: 260px;
      background-image: url(../../assets/images/bg-pattern-intro-right-mobile.svg);
      @include backgroundProps(right, contain);
      right: 0;
      top: 309px;

      @include mediaQuerie(540px) {
        display: none;
      }
    }
  }
}
