@import '../utilities/variables';
@import '../utilities/mixins';

@font-face {
  font-family: 'DMSerifDisplay';
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/fonts/DMSerifDisplay-Regular.ttf);
}

.security {
  margin-bottom: 200px;

  .figure {
    margin: 0;
  }

  &__card {
    height: 430px;
    background-color: $Dark-Violet;
    color: $Very-Light-Gray;
    text-align: center;
    position: relative;

    h1 {
      font-family: DMSerifDisplay;
      margin: 0;
      padding: 70px 10px 0 10px;
      font-size: 4.2rem;
      font-weight: 400;
      line-height: 40px;
    }

    p {
      font-size: 1.5rem;
      padding: 10px 16px;
      line-height: 25px;
    }

    .button {
      @include button;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 130px;
      height: 125px;
      background-image: url(../../assets/images/bg-pattern-intro-left-mobile.svg);
      @include backgroundProps;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 175px;
      height: 250px;
      background-image: url(../../assets/images/bg-pattern-intro-right-mobile.svg);
      @include backgroundProps(contain);
      transform: translate(45px, -50px);
      right: 0;
    }
  }
}
