.work {
  margin: 70px 0 20px;
  height: 330px;
  text-align: center;
  background-color: #2d2640;
  padding: 50px 0;
  color: #fafafa;
  position: relative;

  @include mediaQuerie(1052px) {
    width: 98%;
    height: auto;
    margin: 70px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }

  @include mediaQuerie(1220px) {
    width: 80%;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 300px;
    background-image: url(../../assets/images/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    top: 0;
    right: 0;

    @include mediaQuerie(1052px) {
      height: 235px;
      background-image: url(../../assets/images/bg-pattern-how-we-work-desktop.svg);
    }
  }

  h3 {
    font-size: 3.77rem;
    font-weight: 400;
    font-family: $DMSerif-Display;
    letter-spacing: 2px;
    line-height: 40px;
    padding: 0 60px;
    margin: 18px 0 35px;

    @include mediaQuerie(1052px) {
      text-align: left;
    }

    span {
      @include mediaQuerie(1052px) {
        display: block;
      }
    }
  }

  .button {
    @include button(2px, 12px 28px);
    font-family: $Karla-bold;
    letter-spacing: 1px;
    font-size: 1.3rem;

    @include mediaQuerie(1052px) {
      margin-right: 60px;
    }
  }
}
