@font-face {
  font-family: "KarlaRegular";
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/fonts/Karla-Regular.ttf);
}
@font-face {
  font-family: "KarlaBold";
  font-style: normal;
  font-weight: bold;
  src: url(../../assets/fonts/Karla-Bold.ttf);
}
@font-face {
  font-family: "DMSerifDisplay";
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/fonts/DMSerifDisplay-Regular.ttf);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-size: 1.6rem;
  font-family: KarlaRegular;
  margin: 0;
}

.is-hidden {
  display: none;
}

.header {
  height: 50px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 4px #837d87;
}
@media screen and (min-width: 820px) {
  .header {
    width: 90%;
    margin: auto;
    box-shadow: initial;
  }
}
@media screen and (min-width: 1020px) {
  .header {
    width: 88.5%;
  }
}
@media screen and (min-width: 1020px) {
  .header__logo {
    margin-left: 30px;
  }
}
.header__icon {
  padding: 5px;
  cursor: pointer;
}
@media screen and (min-width: 640px) {
  .header__icon {
    display: none;
  }
}
.header .main-nav {
  position: absolute;
  width: 100%;
  height: 451px;
  top: 60px;
  left: 0;
  background-color: #2b282f;
  padding: 10px 20px;
  overflow: hidden;
  display: none;
  z-index: 100;
}
@media screen and (min-width: 640px) {
  .header .main-nav {
    display: block;
    position: static;
    padding: 0;
    height: initial;
    background-color: transparent;
    width: 60%;
  }
}
@media screen and (min-width: 920px) {
  .header .main-nav {
    width: 48%;
  }
}
.header .main-nav::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 200px;
  background-image: url(../../assets/images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -20px;
}
@media screen and (min-width: 640px) {
  .header .main-nav::after {
    display: none;
  }
}
.header .main-nav.show {
  display: block;
}
.header .main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
@media screen and (min-width: 640px) {
  .header .main-menu {
    flex-direction: row;
    margin: 0;
  }
}
.header .main-menu__item {
  margin-bottom: 20px;
}
@media screen and (min-width: 640px) {
  .header .main-menu__item {
    margin: 0 auto;
  }
}
.header .main-menu__item:last-child {
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  border: 1px solid #fafafa;
}
@media screen and (min-width: 640px) {
  .header .main-menu__item:last-child {
    width: initial;
    padding: 0;
  }
}
@media screen and (min-width: 720px) {
  .header .main-menu__item:last-child {
    padding: 6px 20px;
    border: 1px solid #2d2640;
  }
}
.header .main-menu__link {
  text-transform: uppercase;
  font-size: 1.7rem;
  color: #fafafa;
  letter-spacing: 1px;
}
@media screen and (min-width: 640px) {
  .header .main-menu__link {
    color: #2b272f;
    font-size: 1.3rem;
  }
}

.security {
  margin-bottom: 100px;
}
@media screen and (min-width: 540px) {
  .security {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .security {
    width: 100%;
    background-color: #2d2640;
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 540px) {
  .security__image {
    margin: 0 auto;
    position: relative;
    z-index: 20;
    top: -400px;
  }
}
@media screen and (min-width: 1200px) {
  .security__image {
    top: 70px;
    left: -250px;
  }
}
.security__card {
  height: 430px;
  background-color: #2d2640;
  color: #fafafa;
  text-align: center;
  position: relative;
  z-index: 10;
}
@media screen and (min-width: 540px) {
  .security__card {
    height: 730px;
  }
}
@media screen and (min-width: 1200px) {
  .security__card {
    width: 100%;
    height: initial;
    padding-left: 160px;
    padding-top: 50px;
    text-align: initial;
  }
}
.security__card h1 {
  font-family: DMSerifDisplay;
  margin: 0;
  padding: 70px 10px 0 10px;
  font-size: 4.2rem;
  font-weight: 400;
  line-height: 40px;
}
@media screen and (min-width: 1200px) {
  .security__card h1 {
    text-align: left;
    font-size: 5rem;
    padding-left: 0;
    margin-left: -21px;
  }
}
@media screen and (min-width: 1200px) {
  .security__card h1 span {
    display: block;
  }
}
.security__card p {
  font-size: 1.5rem;
  padding: 10px 16px;
  line-height: 25px;
}
@media screen and (min-width: 1200px) {
  .security__card p {
    text-align: left;
    width: 65%;
    padding-top: 30px;
    padding-left: 0;
    margin-left: -21px;
  }
}
.security__card .button {
  padding: 8px 28px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  color: #fafafa;
  border: 1px solid #fafafa;
  font-family: KarlaRegular;
}
@media screen and (min-width: 1200px) {
  .security__card .button {
    text-align: initial;
    margin-left: -21px;
  }
}
.security__card::before {
  content: "";
  display: block;
  position: absolute;
  width: 130px;
  height: 125px;
  background-image: url(../../assets/images/bg-pattern-intro-left-mobile.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1200px) {
  .security__card::before {
    display: none;
  }
}
.security__card::after {
  content: "";
  display: block;
  position: absolute;
  width: 200px;
  height: 260px;
  background-image: url(../../assets/images/bg-pattern-intro-right-mobile.svg);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  right: 0;
  top: 309px;
}
@media screen and (min-width: 540px) {
  .security__card::after {
    display: none;
  }
}

.different {
  text-align: center;
  position: relative;
  color: #2b272f;
}
@media screen and (min-width: 540px) {
  .different {
    margin-top: -320px;
  }
}
@media screen and (min-width: 1220px) {
  .different {
    margin-top: 200px;
  }
}
.different h2 {
  margin-bottom: 40px;
  font-family: DMSerifDisplay;
  font-weight: 400;
  font-size: 3.8rem;
}
@media screen and (min-width: 1220px) {
  .different h2 {
    text-align: left;
    padding-left: 137px;
  }
}
.different h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background-color: #837d87;
  top: -25px;
  margin: auto;
  left: 0;
  right: 0;
}
@media screen and (min-width: 1220px) {
  .different h2::before {
    left: initial;
    right: initial;
  }
}
.different__layout {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 16px;
}
@media screen and (min-width: 1220px) {
  .different__layout {
    padding: 0;
    width: 85%;
    margin: auto;
  }
}
.different__card {
  text-align: center;
  margin-bottom: 50px;
  max-width: 340px;
  margin: auto;
}
@media screen and (min-width: 730px) {
  .different__card {
    margin: 10px auto;
    padding: 0;
  }
}
@media screen and (min-width: 1220px) {
  .different__card .figure {
    margin-left: 0;
  }
}
.different__card .figure__image {
  width: 70px;
  margin: 0 auto;
}
@media screen and (min-width: 1220px) {
  .different__card .figure__image {
    margin: 0;
  }
}
.different__card h3 {
  margin-bottom: 15px;
  font-family: DMSerifDisplay;
  font-size: 2.2rem;
  font-weight: 400;
}
@media screen and (min-width: 1220px) {
  .different__card h3 {
    text-align: left;
  }
}
.different__card p {
  color: #837d87;
  font-size: 1.4rem;
  letter-spacing: 0.1px;
  line-height: 22px;
}
@media screen and (min-width: 1220px) {
  .different__card p {
    text-align: left;
    width: 310px;
  }
}
.different__card:last-child p {
  padding: 0 10px;
}
@media screen and (min-width: 1220px) {
  .different__card:last-child p {
    padding: 0;
  }
}

.work {
  margin: 70px 0 20px;
  height: 330px;
  text-align: center;
  background-color: #2d2640;
  padding: 50px 0;
  color: #fafafa;
  position: relative;
}
@media screen and (min-width: 1052px) {
  .work {
    width: 98%;
    height: auto;
    margin: 70px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }
}
@media screen and (min-width: 1220px) {
  .work {
    width: 80%;
  }
}
.work::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 300px;
  background-image: url(../../assets/images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  top: 0;
  right: 0;
}
@media screen and (min-width: 1052px) {
  .work::before {
    height: 235px;
    background-image: url(../../assets/images/bg-pattern-how-we-work-desktop.svg);
  }
}
.work h3 {
  font-size: 3.77rem;
  font-weight: 400;
  font-family: DMSerifDisplay, Arial, Helvetica;
  letter-spacing: 2px;
  line-height: 40px;
  padding: 0 60px;
  margin: 18px 0 35px;
}
@media screen and (min-width: 1052px) {
  .work h3 {
    text-align: left;
  }
}
@media screen and (min-width: 1052px) {
  .work h3 span {
    display: block;
  }
}
.work .button {
  padding: 12px 28px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  color: #fafafa;
  border: 2px solid #fafafa;
  font-family: KarlaRegular;
  font-family: KarlaBold, Arial, Helvetica;
  letter-spacing: 1px;
  font-size: 1.3rem;
}
@media screen and (min-width: 1052px) {
  .work .button {
    margin-right: 60px;
  }
}

.footer {
  background-color: #fafafa;
  text-align: center;
  font-family: KarlaRegular, Arial, Helvetica;
  font-weight: 400;
  margin-top: 140px;
  position: relative;
  overflow: hidden;
  z-index: 10;
}
@media screen and (min-width: 720px) {
  .footer {
    padding: 20px 0;
  }
}
.footer::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 200px;
  background-image: url(../../assets/images/bg-pattern-footer-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
}
@media screen and (min-width: 720px) {
  .footer::before {
    background-image: url(../../assets/images/bg-pattern-footer-desktop.svg);
    z-index: 1;
  }
}
.footer__social {
  text-align: center;
  position: relative;
  padding-bottom: 30px;
}
@media screen and (min-width: 590px) {
  .footer__social {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
}
.footer__social::after {
  content: "";
  position: absolute;
  display: block;
  width: 280px;
  height: 1px;
  background-color: #d4d3e1;
  margin: auto;
  left: 0;
  right: 0;
}
@media screen and (min-width: 590px) {
  .footer__social::after {
    display: none;
  }
}
.footer__social h4 {
  font-size: 3.3rem;
  margin-bottom: 0;
  letter-spacing: -0.8px;
}
.footer__networks {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin-bottom: 35px;
  position: relative;
}
.footer__networks li {
  margin-right: 15px;
}
.footer__networks li a {
  color: #837d87;
}
.footer__data {
  text-transform: uppercase;
  margin-top: -10px;
}
@media screen and (min-width: 590px) {
  .footer__data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 720px) {
  .footer__data {
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
  }
}
@media screen and (min-width: 590px) {
  .footer__data::before {
    content: "";
    display: block;
    position: absolute;
    width: 80%;
    height: 1px;
    background-color: #ccc;
    margin: auto;
    left: 0;
    right: 0;
  }
}
.footer__data h5 {
  color: #837d87;
}
.footer__articles h5 {
  font-size: 1.4rem;
}
@media screen and (min-width: 720px) {
  .footer__articles h5 {
    text-align: left;
  }
}
.footer__articles li {
  padding-bottom: 13px;
}
@media screen and (min-width: 720px) {
  .footer__articles li {
    text-align: left;
  }
}
.footer__articles a {
  color: #2d2640;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.4rem;
}
.footer__logo {
  margin: 0;
  margin-top: 65px;
}
@media screen and (min-width: 590px) {
  .footer__logo {
    margin-top: 0;
  }
}
.footer__image {
  margin: 0 auto;
}

/*# sourceMappingURL=main.css.map */
